<div class="component">
    <div>
        <h3 class="text title-fonts">{{title}}</h3>
    </div>
    <div class="box">
        <div class="input-wrapper">
            <input type="search" class="input" placeholder="Buscar por Id de autor">
            <i class="fa fa-plus input-icon" (click)="searchUser"></i>
        </div>
        <div>
            <button (click)="searchUser" class="btn box"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
    </div>

    <div class="content-table">
        <table class="size-table">
            <tr class="title-fonts">
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Acciones</th>
            </tr>
            <tr class="text-fonts" *ngFor="let items of pokemons">
                <td>{{items.name}}</td>
                <td class="center-icon"><a class="prueba" [href]="items.image" target="_blank"><i class="fa fa-image"></i></a></td>
                <td>{{items.attack}}</td>
                <td>{{items.defense}}</td>
                <td class="center-actions"><i class="fa fa-image"></i>  <i class="fa fa-image"></i></td>
            </tr>
        </table>
    </div>
    <app-create-edith class="container" [pokemonIn]=""></app-create-edith>
</div>